body {
  padding: 0px;
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.btn.btn-success {
  float: right;
}
.primary-nav {
  margin-bottom: 20px;
}
