<!-- Contains html for rendering a post summary -->
<!-- Add and format blog content here -->
<div class="card">
	<div class="card-body">
		<h3 class="card-title"> 
			<a href="/blog/<%= post['slug']%>"><%- post['title'] %></a>
		</h3>
		<div><%- post['summary'] %></div>
	</div>
</div>